input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 10px;
  background: #387ed1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}